---
layout: section.liquid
title: Programming
permalink: /notes/programming/
---
<p>Notes on programming topics I work with or find interesting. These are living documents I update as I learn more.</p>

{% for group in collections.notesByCategory %}
  {% if group.category == 'programming' %}
    {% include 'feed.liquid', items: group.notes, showTags: true %}
  {% endif %}
{% endfor %}
