---
layout: section.liquid
title: Notes
permalink: /notes/
---
<section>
  <p>
    A collection of permanent notes about things I'm learning. I keep them in public so I can refer back to them when I
    need to.
  </p>
</section>

{% for group in collections.notesByCategory %}
  <h2 class="year">
    <a href="/notes/{{ group.category }}/">{{ group.category | capitalize }}</a>
  </h2>
  {% include 'feed.liquid', items: group.notes, showTags: true %}
{% endfor %}
