---
layout: section.liquid
title: Notes
permalink: /notes/
---
<p>
  A collection of permanent notes about things I'm learning. 
  I keep them in public so I can refer back to them when I need to.
</p>

<ul class="articles">
  {% for item in collections.notes %}
    <li class="article">
      <a href="{{ item.url }}">
        <span class="title">{{ item.data.title }}</span>
        <span class="meta">
          {% if item.data.tags %}
            {% for tag in item.data.tags %}
              <span class="tag">#{{ tag }}</span>
            {% endfor %}
          {% endif %}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
