---
layout: section.liquid
title: Notes
permalink: /notes/
---
<p>
  A collection of permanent notes about things I'm learning. 
  I keep them in public so I can refer back to them when I need to.
</p>

{% for group in collections.notesByCategory %}
  <h2 class="year">{{ group.category | capitalize }}</h2>
  <ul class="articles">
    {% for item in group.notes %}
      <li class="article">
        <a href="{{ item.postUrl }}">
          <span class="title">{{ item.title }}</span>
          <span class="meta">
            {% if item.tags %}
              {% for tag in item.tags %}
                <span class="tag">#{{ tag }}</span>
              {% endfor %}
            {% endif %}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
