---
layout: section.liquid
title: Writing
permalink: /writing/
---
<section>
  <p>Mostly long–form writing.</p>
</section>

{% for yearGroup in collections.writingsByYear %}
  <h2 class="year">{{ yearGroup.year }}</h2>
  <ul class="feed">
    {% for item in yearGroup.articles %}
      <li class="entry">
        <a href="{{ item.postUrl }}">
          <span>{{ item.title }}</span>
          <span class="entry-details">{{ item.formattedDate }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
