---
layout: section.liquid
title: Writing
permalink: /writing/
description: Writings by Luca Pette about software development and other topics.
---

{% for yearGroup in collections.writingsByYear %}
    <h2 class="year">{{ yearGroup.year }}</h2>
    <ul class="articles">
        {% for item in yearGroup.articles %}
            <li class="article">
                <a href="{{ item.postUrl }}">
                    <span>{{ item.title }}</span>
                    <span class="date">{{ item.formattedDate }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
