---
layout: section.liquid
title: Writing
permalink: /writing/
---
<section>
  <p>Mostly long–form writing.</p>
</section>

{% for yearGroup in collections.writingsByYear %}
  <h2 class="year">{{ yearGroup.year }}</h2>
  {% include 'feed.liquid', items: yearGroup.articles, showDate: true %}
{% endfor %}
