<footer class="footer">
  <div class="left">Built with 🧡 and <a href="/credits">technology</a></div>
  <div class="right">
    <a href="mailto:ciao@lucapette.me">
      <span class="has-text-black">
        <i data-lucide="mail" aria-hidden="true"></i>
        <span class="sr-only">Email</span>
      </span>
    </a>
    <a href="https://twitter.com/lucapette">
      <span class="has-text-black">
        <i data-lucide="twitter" aria-hidden="true"></i>
        <span class="sr-only">Twitter</span>
      </span>
    </a>
    <a href="https://github.com/lucapette">
      <span class="has-text-black">
        <i data-lucide="github" aria-hidden="true"></i>
        <span class="sr-only">GitHub</span>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/lucapette/">
      <span class="has-text-black">
        <i data-lucide="linkedin" aria-hidden="true"></i>
        <span class="sr-only">Linkedin</span>
      </span>
    </a>
    <a rel="me" href="https://hachyderm.io/@lucapette">
      <span class="has-text-black">
        <span class="sr-only">Mastodon</span>
      </span>
    </a>
  </div>
</footer>
