<footer>
    {% comment %}TODO we can and should use small for this. Also add copyright{% endcomment %}
    <div class="left">Built with 🧡 and <a href="/credits">technology</a></div>

    {% comment %}TODO let's do this with nav element{% endcomment %}
    <div class="right">
        <a href="mailto:ciao@lucapette.me">
      <span>
        <span aria-hidden="true">{% lucide "mail" %}</span>
        <span class="sr-only">Email</span>
      </span>
        </a>
        <a href="https://twitter.com/lucapette">
      <span>
        <span aria-hidden="true">{% lucide "twitter" %}</span>
        <span class="sr-only">Twitter</span>
      </span>
        </a>
        <a href="https://github.com/lucapette">
      <span>
        <span aria-hidden="true">{% lucide "github" %}</span>
        <span class="sr-only">GitHub</span>
      </span>
        </a>
        <a href="https://www.linkedin.com/in/lucapette/">
      <span>
        <span aria-hidden="true">{% lucide "linkedin" %}</span>
        <span class="sr-only">Linkedin</span>
      </span>
        </a>
        <a rel="me" href="https://hachyderm.io/@lucapette">
      <span>
        <span class="sr-only">Mastodon</span>
      </span>
        </a>
    </div>
</footer>
