:root {
  --sans-font: "Times New Roman";
  --mono-font: Menlo;

  --accent-bg: #f5f7ff;
  --text: #555;
  --text-light: #4c566a;
  --border: #898ea4;
  --accent: #c3674a;
  --code: #d81b60;
  --preformatted: #d81b60;
}

html {
  font-family: var(--sans-font);
  margin: 0 1em;
}

body {
  color: var(--text);
  line-height: 1.3;
  text-align: justify;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: left;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a {
  color: var(--accent);
  text-decoration: underline;
}

abbr[title] {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

hr {
  border: none;
  height: 1px;
  background: var(--border);
  margin: 1rem auto;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

blockquote {
  background-color: var(--accent-bg);
  border-left: 0.2em var(--accent) solid;
  padding: 0 1.5rem;
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

dt {
  color: var(--text-light);
}

code,
pre,
pre span {
  font-family: var(--mono-font);
  color: var(--code);
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  color: var(--preformatted);
}

pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
}

.pagebreak {
  page-break-before: left;
}

h1 {
  string-set: chapter content();
}

h2 {
  string-set: para content();
}

@page: first {
  counter-reset: page 0;
  @top-right {
    content: "";
  }

  @top-center {
    content: "";
  }
}

@page {
  size: 18cm 27cm;
}

@page: left {
  @top-left {
    content: counter(page);
  }

  @top-center {
    font-style: italic;
    content: string(chapter);
  }
}

@page: right {
  @top-right {
    content: counter(page);
  }

  @top-center {
    font-style: italic;
    content: string(para);
  }
}
