@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

$weight-normal: 500;
$body-font-size: 1.2em;

$font: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
  Arial, sans-serif;

$orange: #c3674a;
$grey-darker: #666666;
$grey-lighter: #d8dee9;
$title-family: $font;
$body-family: $font;
$family-code: "Monaco", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Geneva, Arial, sans-serif;

$link: #466695;
$link-hover: $orange;
$link-visited: $orange;

$white-ter: #e6e6e6;

$navbar-background-color: $white-bis !default;
$navbar-item-active-background-color: $white-ter !default;
$navbar-item-hover-background-color: $white-ter !default;

@import "../node_modules/bulma/bulma.sass";

html {
  background-color: #eceff4;
}

.navbar-menu {
  border-bottom: 1px solid #666666;
}

footer.footer {
  border-top: 1px solid #666666;
}

.footer {
  padding: 1rem;
  background-color: $white-bis;
}

a {
  text-decoration: underline;
}

.accent {
  font-weight: $weight-bold;
  color: $grey;
  text-shadow: $white 0.05em 0.05em;
}

$book-width: 300px;
$book-height: 478px;

// from https://codepen.io/scastiel/pen/WNrmpdz
.book-area {
  height: $book-height;
  margin-bottom: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

.book {
  transform: rotateY(-30deg);
  position: relative;
  transform-style: preserve-3d;
  width: $book-width;
  height: $book-height;
  transition: transform 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotate(0deg);
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book > :first-child {
  position: absolute;
  background: #0d47a1aa;
  width: $book-width;
  height: $book-height;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  content: " ";
  background: #fff;
  height: calc($book-height - 2 * 3px);
  width: 50px;
  top: 3px;
  position: absolute;
  transform: translateX(calc($book-width - 50px / 2 - 3px)) rotateY(90deg)
    translateX(calc(50px / 2));
}

.book::after {
  content: " ";
  position: absolute;
  left: 0;
  width: $book-width;
  height: $book-height;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #01060f;
  transform: translateZ(-50px);
  box-shadow: -10px 0 50px 10px #666;
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sell {
  display: flex;
  flex-direction: column;
}

.book-container {
  justify-content: center;
}

.cta {
  justify-content: center;
  a.is-success,
  a {
    color: #141414;
  }
}

@include mobile {
  .cta {
    justify-content: center;
  }

  .book {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.8) contrast(1.2);
  }

  figure img {
    transform: scaleX(-1);
  }

  .title,
  .subtitle {
    color: $grey-lightest;
  }

  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $grey-lightest;
    }
  }

  html,
  body,
  .navbar-menu {
    background-color: #3b4252;
    color: $grey-lighter;
  }

  a {
    color: $white;
  }

  .has-text-black,
  .navbar-item,
  .navbar-burger,
  .has-text-grey-darker,
  .box {
    color: $grey-lighter;
  }

  .has-text-black,
  .has-text-grey-darker {
    color: $grey-lighter !important;
  }

  strong {
    color: $white;
  }

  .navbar,
  .footer,
  .box {
    background-color: #3b4252;
  }

  a:hover {
    color: $grey-lighter;
  }
  .accent {
    font-weight: $weight-bold;
    color: $white;
    text-shadow: $grey 0.05em 0.05em;
  }
}
