---
layout: section.liquid
title: Recipes
permalink: /notes/recipes/
---
<p>I love cooking so here I'm noting down recipes I perfected over time.</p>

{% assign category = collections.notesByCategory.recipes %}
{% include 'feed.liquid', items: category.notes, showTags: true %}
