---
layout: section.liquid
title: Recipes
permalink: /notes/recipes/
---
<p>I love cooking so here I'm noting down recipes I perfected over time.</p>

{% for group in collections.notesByCategory %}
  {% if group.category == 'recipes' %}
    <ul class="articles">
      {% for item in group.notes %}
        <li class="article">
          <a href="{{ item.postUrl }}">
            <span class="title">{{ item.title }}</span>
            <span class="meta">
              {% if item.tags %}
                {% for tag in item.tags %}
                  <span class="tag">#{{ tag }}</span>
                {% endfor %}
              {% endif %}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
