<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> theme-init}}
<div class="wrap">
  {{> navigation}}
  {{{content}}}
</div>
{{> footer}}
<script type="module" src="/assets/js/main.bundle.js"></script>
</body>
</html>