<!doctype html>
<html lang="en">
  {% include 'head.liquid' %}
  <body>
    {% include 'theme-init.liquid' %}
    {% include 'navigation.liquid' %}
    <main>
      {{ content }}
    </main>
    {% include 'footer.liquid' %}
    <script type="module" src="{{ "js/main.js" | asset }}"></script>
  </body>
</html>
