<!doctype html>
<html lang="en">
{% include 'head.liquid' %}
<body>
{% include 'theme-init.liquid' %}
<div class="wrap">
    {% include 'navigation.liquid' %}
    {{ content }}
</div>
{% include 'footer.liquid' %}
<script type="module" src="{{ "js/main.js" | asset }}"></script>
</body>
</html>
