.has-text-centered {
  text-align: center;
}

.has-text-weight-bold {
  font-weight: 700;
}

.is-italic {
  font-style: italic;
}

.is-size-6 {
  font-size: 1rem;
}

h4.subtitle {
  font-size: 1em;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.content blockquote {
  background-color: var(--blockquote-bg);
  border-left: 8px solid var(--white-ter);
  border-radius: var(--radius);
  padding: 1rem;
  font-style: italic;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
}

.content ul li ul {
  list-style: circle outside;
  margin-left: 1em;
  margin-top: 0;
}

pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  max-width: 100%;
}

p code {
  background-color: var(--code-bg);
  color: light-dark(var(--black), var(--white));
  font-weight: 700;
  padding: 0.25em;
  border-radius: var(--radius);
}

.message {
  border-radius: var(--radius);
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.message .message-body {
  padding: 1em 1.5em;
  border-radius: var(--radius);
  border-style: solid;
  border-width: 0 0 0 6px;
  border-color: var(--white-ter);
  background-color: var(--message-bg);
  color: var(--message-color);
}

.message .message-body em,
.message .message-body a {
  color: var(--message-link-color);
}

.is-info .message-body {
  border-color: var(--turquoise);
  background-color: var(--info-bg);
  color: var(--black);
}

.is-warning .message-body {
  border-color: var(--yellow);
  background-color: var(--warning-bg);
  color: var(--black);
}

.accent,
.dropcap {
  background-image: linear-gradient(-90deg, var(--purple), var(--turquoise));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.dropcap {
  float: left;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-top: -0.2em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.tag {
  background-color: var(--tag-color);
  color: var(--black-ter);
  border-radius: var(--radius);
  padding: 0.125rem 0.375rem;
  text-decoration: none;
  white-space: nowrap;
}

.tag:hover {
  background-color: var(--accent-color);
  color: var(--white);
}

ul.articles li .tags {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
