html.dark {
  background-color: var(--black-bis);
  color: var(--white);
}

html.dark .moon {
  visibility: hidden;
  display: none;
}

html.dark .sun {
  visibility: visible;
  display: block;
}

html.dark img {
  filter: brightness(0.8);
}

html.dark figure.me img {
  transform: scaleX(-1);
}

html.dark .hero .description h1 {
  background-image: linear-gradient(-90deg, var(--purple), var(--turquoise));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

html.dark ul.articles li a .date {
  color: var(--white);
}

html.dark .title,
html.dark .subtitle {
  color: var(--white);
}

html.dark .content table thead th {
  color: var(--white);
}

html.dark .content h1,
html.dark .content h2,
html.dark .content h3,
html.dark .content h4,
html.dark .content h5,
html.dark .content h6 {
  color: var(--white);
}

html.dark .content blockquote {
  background-color: var(--black-quad);
}

html.dark body,
html.dark .navbar-menu {
  background-color: var(--black-bis);
  color: var(--white);
}

html.dark a,
html.dark .has-text-black {
  color: var(--white-ter);
}

html.dark .navbar .navbar-menu a.navbar-item.is-active {
  color: var(--black-quad);
}

html.dark .navbar .navbar-menu a.navbar-item:hover {
  color: var(--black-quad);
}

html.dark .navbar .navbar-menu button.navbar-item {
  background-color: var(--black-bis);
  color: var(--white-bis);
}

html.dark .navbar .navbar-menu button.navbar-item:hover {
  background-color: var(--white-bis);
  color: var(--link-color);
}

html.dark strong {
  color: var(--white);
}

html.dark em {
  color: var(--orange);
}

html.dark a:hover {
  color: var(--orange);
}

html.dark .accent,
html.dark .dropcap {
  background-image: linear-gradient(-90deg, var(--purple), var(--turquoise));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

html.dark footer.footer {
  background-color: var(--black-bis);
}

html.dark article.post {
  background-color: var(--black-quad);
}

html.dark .tags .tag {
  color: var(--white);
}

html.dark .message-body em,
html.dark .message-body a {
  color: var(--black);
}

html.dark .is-info .message-body {
  border-color: var(--blue);
  background-color: var(--info-bg-dark);
  color: var(--black);
}

html.dark .book-card-author {
  color: var(--white);
}
