@import "variables.css";

:root {
  --wrap-width: 780px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

section {
  padding: 2rem 1rem;
}

section:last-child {
  padding-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  color: var(--table-header-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

pre code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-code);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--accent-color);
}

em {
  color: var(--accent-color);
  font-weight: 700;
}

hr {
  background-color: var(--border-color);
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  section {
    padding: 1rem 0.5rem;
  }
}
