html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-primary), serif;
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

body > header {
  margin-top: 2rem;
}

main {
  margin-top: 2rem;
}

aside {
  margin-top: 2rem;
}

header,
main {
  margin-left: auto;
  margin-right: auto;
  width: var(--wrap-width);
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: var(--wrap-width);
}

footer .left {
  float: left;
}

footer .right {
  float: right;
  display: flex;
  gap: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

th {
  text-align: left;
  color: var(--table-header-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
}

pre code {
  font-family: var(--font-family-monospace), monospace;
  font-size: var(--font-size-code);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

em {
  color: var(--accent-color);
  font-weight: 700;
}

hr {
  background-color: var(--border-color);
  border: none;
  display: block;
  height: 2px;
}

article header {
  margin-bottom: 2rem;
}

section {
  margin-bottom: 1rem;
}

body > header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

body > header > nav ul {
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

body > header > nav ul > li {
  display: flex;
  align-items: center;
}

body > header > nav ul + button {
  margin-left: 0.5rem;
}

body > header > nav a,
body > header > nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

body > header > nav a {
  padding: 0.5rem 0.75rem;
  color: var(--link-color);
}

body > header > nav a:hover,
body > header > nav a[aria-current="page"] {
  background-color: var(--navbar-item-bg);
  color: var(--text-color);
  text-decoration: underline;
}

body > header > nav button {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--button-bg);
  color: var(--button-color);
  cursor: pointer;
}

body > header > nav button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-color);
}
