.mobile-menu-toggle {
  display: none;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--button-bg);
  color: var(--button-color);
  border-radius: 8px;
  cursor: pointer;
}

.mobile-menu-toggle .close-icon {
  display: none;
}

.mobile-menu-toggle[aria-expanded="true"] .menu-icon {
  display: none;
}

.mobile-menu-toggle[aria-expanded="true"] .close-icon {
  display: block;
}

.meta {
  display: flex;
  justify-content: space-between;
}

.meta .left {
  align-self: flex-start;
}

.meta .left p {
  font-size: 1rem;
}

.meta .right {
  align-self: flex-end;
}
