@charset "UTF-8";

@import "variables.css";
@import "colors.css";
@import "reset.css";
@import "elements.css";
@import "layout.css";
@import "content.css";
@import "reading.css";
@import "mobile.css";

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

.feed-title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.feed-title .lucide-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.feed-title.writing-icon .lucide-icon {
  color: var(--blue);
}

.feed-title.notes-icon .lucide-icon {
  color: var(--orange);
}

.feed-title.highlights-icon .lucide-icon {
  color: var(--yellow);
}

ul.notes li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

ul.notes li.note {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

ul.notes li.note .title {
  font-weight: var(--font-weight-normal);
}

ul.notes li.note .title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.notes .category {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  color: var(--link-color);
}

ul.notes .category .lucide-icon {
  width: 0.875rem;
  height: 0.875rem;
  color: var(--purple);
}

ul.notes .tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.25rem;
}

ul.notes .tag {
  color: var(--link-color);
  font-size: 0.875rem;
}

ul.articles {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.articles li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

ul.articles li:last-child {
  border-bottom: none;
}

ul.articles li a {
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem 0;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.articles li a .date {
  font-size: small;
}

.highlight {
  margin-bottom: 1em;
}

.copy-code {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: var(--radius);
  user-select: none;
  background: light-dark(var(--black-quad), var(--white-ter));
  color: light-dark(var(--white), var(--black));
  border: none;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.highlight:hover .copy-code,
pre:hover .copy-code {
  opacity: 1;
}

pre[class*="language-"] {
  position: relative;
}

.highlight pre {
  border-radius: var(--radius);
}

.highlight,
pre {
  position: relative;
}

.hero {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.hero .description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero .description h1 {
  font-size: 3rem;
  background-image: linear-gradient(-90deg, var(--purple), var(--turquoise));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero .decoration {
  justify-self: right;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sun,
.moon {
  display: none;
}

button#toggle .moon {
  display: block;
}

button#toggle:hover {
  cursor: pointer;
}

:root[data-theme="dark"] button#toggle .moon {
  display: none;
}

:root[data-theme="dark"] button#toggle .sun {
  display: block;
}

.me:hover {
  transform: scaleX(-1);
}

figure.me {
  width: 128px;
  height: 128px;
}

.anchor a {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.anchor:hover a {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

img {
  filter: var(--image-filter);
  max-width: 100%;
  height: auto;
}

.book-cover img {
  filter: var(--book-cover-filter);
}

figure.me img {
  transform: scaleX(-1);
}
