:root {
  --prism-bg: #2e3440;
  --prism-comment: #636f88;
  --prism-number: #b48ead;
  --prism-punctuation: #81a1c1;
  --prism-property: #81a1c1;
  --prism-string: #a3be8c;
  --prism-function: #88c0d0;
  --prism-keyword: #81a1c1;
  --prism-regex: #ebcb8b;
  --prism-operator: #81a1c1;
  --prism-text: #f8f8f2;
}

@media (prefers-color-scheme: light) {
  :root {
    --prism-bg: #2e3440;
    --prism-comment: #9aa8be;
    --prism-number: #d087a0;
    --prism-punctuation: #c2cbe6;
    --prism-property: #c2cbe6;
    --prism-string: #a3c978;
    --prism-function: #c2cbe6;
    --prism-keyword: #c2cbe6;
    --prism-regex: #ebcb8b;
    --prism-operator: #c2cbe6;
    --prism-text: #f8f8f2;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--prism-text);
  background: none;
  font-family:
    "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--prism-bg);
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment);
}

.token.punctuation {
  color: var(--prism-punctuation);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prism-property);
}

.token.number {
  color: var(--prism-number);
}

.token.boolean {
  color: var(--prism-property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--prism-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--prism-operator);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--prism-function);
}

.token.keyword {
  color: var(--prism-keyword);
}

.token.regex,
.token.important {
  color: var(--prism-regex);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
