:root {
  color-scheme: light dark;

  --wrap-width: 780px;
  --radius: 4px;

  --font-family-primary: "Iowan Old Style", "Palatino Linotype";
  --font-size-primary: 1.2em;
  --font-family-monospace:
    ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consola,
    "DejaVu Sans Mono";
  --font-size-code: 1em;
  --font-weight-normal: 500;

  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --turquoise: #8fbcbb;
  --cyan: #88c0d0;
  --blue: #81a1c1;
  --purple: #b48ead;
  --red: #bf616a;
  --gray: #6c6f74;

  --black: #2e3440;
  --black-bis: #3b4252;
  --black-quad: #4c566a;
  --white: #eceff4;
  --white-bis: #e5e9f0;
  --white-ter: #d8dee9;

  --terracotta: #a55a40;
  --steel-blue: #465a7a;
  --ice: #f6fafb;
  --sky-blue: #a8c6e0;
  --cream: #faf2e2;
  --amber: #e89a02;

  --text-color: light-dark(var(--black-quad), var(--white));
  --background-color: light-dark(var(--white), var(--black-bis));
  --accent-color: light-dark(var(--terracotta), var(--orange));
  --link-color: light-dark(var(--steel-blue), var(--white-ter));

  --border-color: light-dark(var(--white-ter), var(--black-quad));
  --code-bg: light-dark(var(--white-ter), var(--black-quad));
  --blockquote-bg: light-dark(var(--white-bis), var(--black-quad));
  --message-bg: light-dark(var(--white-bis), var(--black-quad));
  --message-color: light-dark(var(--black-quad), var(--white));
  --message-link-color: light-dark(var(--black), var(--white));
  --table-header-color: light-dark(var(--black-quad), var(--white));

  --title-color: light-dark(var(--black-quad), var(--white));
  --strong-color: light-dark(var(--black), var(--white));
  --tag-color: light-dark(var(--white), var(--white));
  --post-bg: light-dark(var(--white-bis), var(--black-quad));
  --footer-bg: light-dark(var(--white-bis), var(--black-bis));
  --author-color: light-dark(var(--black-bis), var(--white-ter));

  --navbar-item-bg: light-dark(var(--white-bis), var(--black-quad));
  --button-bg: light-dark(var(--white), var(--black-bis));
  --button-color: light-dark(var(--steel-blue), var(--white-ter));
  --button-hover-bg: light-dark(var(--black-quad), var(--white-ter));
  --button-hover-color: light-dark(var(--white-bis), var(--black-bis));

  --info-bg: light-dark(var(--ice), var(--sky-blue));
  --warning-bg: light-dark(var(--cream), var(--amber));

  --shadow-card: 0 4px 8px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  --shadow-image: 0 8px 24px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

  --image-filter: brightness(0.8);
  --book-cover-filter: brightness(1);
}
