:root {
  --wrap-width: 780px;
  --radius: 4px;
  --font-family-primary: "Iowan Old Style", "Palatino Linotype", serif;
  --font-size-primary: 1.2em;
  --font-family-monospace:
    ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consolas,
    "DejaVu Sans Mono", monospace;
  --font-size-code: 1em;
  --font-weight-normal: 500;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --turquoise: #8fbcbb;
  --cyan: #88c0d0;
  --blue: #81a1c1;
  --purple: #b48ead;
  --red: #bf616a;
  --black: #2e3440;
  --black-bis: #3b4252;
  --black-ter: #434c5e;
  --black-quad: #4c566a;
  --white: #eceff4;
  --white-bis: #e5e9f0;
  --white-ter: #d8dee9;
  --text-color: #4c566a;
  --background-color: #eceff4;
  --accent-color: #c07a60;
  --link-color: #465a7a;
  --info-bg: #f6fafb;
  --warning-bg: #faf2e2;
  --info-bg-dark: #a8c6e0;
  --gray: #6c6f74;
}
