:root {
  --wrap-width: 780px;
  --radius: 4px;

  --font-family-primary: "Iowan Old Style", "Palatino Linotype";
  --font-size-primary: 1.2em;
  --font-family-monospace:
    ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consola,
    "DejaVu Sans Mono";
  --font-size-code: 1em;
  --font-weight-normal: 500;

  --shadow-card: 0 4px 8px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  --shadow-image: 0 8px 24px light-dark(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

  --image-filter: brightness(0.8);
  --book-cover-filter: brightness(1);
}
